.sidebar {
}

.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__btn {
  display: flex;
  margin-top: 24px;
  margin-left: 15px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.sidebar__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}
